#red {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
}
#yellow {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: yellow;
}
#green {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
}
#body {
    background-color: black;
    border: 2px solid black;
    height: 350px;
    width: 100px;
}